/*main {
    float: right;
    display: inline;
}*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    display: block;
    background-color: #101010;
    text-align: center;
    color: grey;
    padding: 2px;
}


.side {
    float: right;
    background-color: #CCC;
    opacity: 0.9;
    text-align: left;
    padding: 15px;
    margin-left: 20px;
    border-radius: 20px;
}

.recent-posts {
    font-size: 24px;
    margin-top: 0;
    padding-top: 0;
    color: #303233;
    margin-bottom: 10px;
}

.post > h2, .post > div {
    background: #EEE;
    padding: 10px;
    margin: 0;
}

.post > h2 {
    margin-top: 15px;
}

.background-index {
    background: url("../Images/1474301.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

li {
    display: list-item;
    text-align: left;
}

.tales-list li {
    line-height: 23px;
    margin-bottom: 14px;
}

.jumbotron {
    margin-top: 15px;
}

.background-about {
    background: url("../Images/robot01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#clock {
    float: right;
    text-align: center;
    color: black;
    border-radius: 30px;
}