/*main {
    float: right;
    display: inline;
}*/

.brand {
    -ms-transform: rotate(-10deg);  /*IE 9*/ 
    -webkit-transform: rotate(-10deg);  /*Safari*/ 
    transform: rotate(-10deg);  /*Standard syntax*/ 
    font-size: 20px;
    line-height: 20px;
    color: #1f5fa5;
    background-color: transparent;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
    font-size: 16px;
    line-height: 27px;
    font-family: 'Open Sans', sans-serif;
    color: #202020;
    background-color: #e9e4da;
}

#clock {
    float: right;
    text-align: center;
    color: black;
    border-radius: 30px;
}


.side {
    float: right;
    background-color: #CCC;
    opacity: 0.9;
    text-align: left;
    padding: 15px;
    margin-left: 20px;
    border-radius: 20px;
}

.recent-posts {
    font-size: 24px;
    margin-top: 0;
    padding-top: 0;
    color: #303233;
    margin-bottom: 10px;
}

.post {
    height: 250px;
    overflow: hidden;
}

@media (max-width: 979px) and (min-width: 768px) {
    .blog-teaser {
        display: block;
        float: none;
        width: 95%;
    }
}

.blog-teaser {
    background-color: #e9e4da;
    border-radius: 20px;
    box-shadow: 0px 1px 5px #9c9992;
    margin-bottom: 40px;
}

.blog-teaser {
    background-color: #e9e4da;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 5px #9c9992;
    -moz-box-shadow: 0px 1px 5px #9c9992;
    box-shadow: 0px 1px 5px #9c9992;
    margin-bottom: 40px;
}

.blog-teaser header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.blog-teaser header hr {
    border-top-color: #cbc8c2;
    border-bottom: none;
    height: 0;
    box-sizing: content-box;
}

    /*hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}*/

.blog-teaser .body {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    color: #0e0706;
}

.blog-teaser .btn {
    float: right;
    margin-right: 45px;
    margin-bottom: 18px;
}

.btn-tales-one {
    color: #e9e4da;
    background-color: #df735d;
    border-color: #df735d;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#df735d), to(#d5472a));
    background-image: -webkit-linear-gradient(top, #df735d, 0%, #d5472a, 100%);
    background-image: -moz-linear-gradient(top, #df735d 0%, #d5472a 100%);
    background-image: linear-gradient(to bottom, #df735d 0%, #d5472a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf735d', endColorstr='#ffd5472a', GradientType=0);
    background-repeat: repeat-x;
    border-color: #cc4428;
}

    .btn-tales-one:hover,
    .btn-tales-one:focus,
    .btn-tales-one:active,
    .btn-tales-one.active,
    .open .dropdown-toggle.btn-tales-one {
        color: #e9e4da;
        background-color: #d8563b;
        border-color: #d5472a;
    }

    .btn-tales-one:active,
    .btn-tales-one.active,
    .open .dropdown-toggle.btn-tales-one {
        background-image: none;
    }

    .btn-tales-one.disabled,
    .btn-tales-one[disabled],
    fieldset[disabled] .btn-tales-one,
    .btn-tales-one.disabled:hover,
    .btn-tales-one[disabled]:hover,
    fieldset[disabled] .btn-tales-one:hover,
    .btn-tales-one.disabled:focus,
    .btn-tales-one[disabled]:focus,
    fieldset[disabled] .btn-tales-one:focus,
    .btn-tales-one.disabled:active,
    .btn-tales-one[disabled]:active,
    fieldset[disabled] .btn-tales-one:active,
    .btn-tales-one.disabled.active,
    .btn-tales-one[disabled].active,
    fieldset[disabled] .btn-tales-one.active {
        background-color: #df735d;
        border-color: #df735d;
    }

    .btn-tales-one:hover,
    .btn-tales-one:focus {
        background-color: #d5472a;
        background-position: 0 -15px;
    }

    .btn-tales-one:active,
    .btn-tales-one.active {
        background-color: #d5472a;
        border-color: #cc4428;
    }

    .btn-tales-one .caret {
        border-top-color: #e9e4da;
    }

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.likes{
    margin-left: 45px;
    margin-bottom: 18px;
}

.post > h2 {
    margin-top: 15px;
}

.background-index {
    background: url("../Images/1474301.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

li {
    display: list-item;
    text-align: left;
}

.tales-list li {
    line-height: 23px;
    margin-bottom: 14px;
}

.jumbotron {
    margin-top: 15px;
    text-align: center;
    font-family: Georgia;
    background-color: #CCC;
    opacity: 0.9;
}

.background-about {
    background: url("../Images/robot01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.about-info {
    float: left;
    background-color: #CCC;
    opacity: 0.5;
    padding: 15px;
    margin-left: 20px;
    border-radius: 20px;
}

/*.about-header > h2 {
    font-family: 'Comic Sans MS';
    color: black;
}*/

.about-header > hr {
    margin-left: 0;
    width: 520px;
}

.about-body {
    font-family: 'Comic Sans MS';
    color: black;
}

.alert{
    margin-top: 20px;
    border-radius: 20px;
}

footer {
    display: block;
    background-color: #101010;
    text-align: center;
    color: grey;
    padding: 2px;
}