@{
    ViewBag.Title = "No title yet";
}
<header class="about-header">
<h2 class="about-title">@ViewBag.Title</h2>
<hr>
</header>
<body class="background-about">
    <aside class="col-md-5 about-info">
        <h3 class="about-body">@Html.Raw(ViewBag.Message)</h3>
    </aside>
    @*<div>
        <p>Use this area to provide additional information.</p>
    </div>*@
</body>