@model TechBlog.Models.PostViewModel

<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="event-box">
        <h2>@Model.Title</h2>
        
        <div id="event-details-@Model.Id">
            @Ajax.ActionLink("View Details »", "PostDetailsById", "Home",
                new { id = Model.Id },
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "event-details-" + Model.Id
                }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
